.row{
    margin: 25px auto 25px auto;
    text-align: center;
}

.logo-holder{
    text-align: center;
    margin: 25% auto 0 auto;
}

.google-button{
    margin: auto 5px auto 5px;
    padding: 0 10px 0 10px;
    border-radius: 0;
}

footer{
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    bottom: 0;
    font-size: 10pt;
    position: absolute;
    width: 100%;
}

.left{
    float: left;
}

.footer-link{
    margin: auto 10px;
    text-decoration: none;
    color: #666;

}

.footer-link a{
    color: #666;
}

footer a:hover{
    text-decoration: underline;
    color: #666;
}